
name: utc app ci/cd
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main"]
permissions:
  id-token: write          # Required for OIDC
  contents: read

env: 
  Python_version: '>=3.9 <3.12'
  IMAGE_NAME: portfolio
  AWS_REGION: us-east-1
  ACCOUNT_ID: ${{ secrets.ACCOUNT_ID}}
  ECR_REPO: $ACCOUNT_ID.dkr.ecr.us-east-1.amazonaws.com/$IMAGE_NAME  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
            python-version: ${{env.python_version}}  # or $python_version
      - name: Install pytest
        run: pip install -r requirements.txt
      - name: unit test
        run: pytest test.py
      - name: Configure AWS credentials using OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{secrets.ROLE_ARN}}
          aws-region: ${{ env.AWS_REGION }}
          audience: sts.amazonaws.com 
      - name: Build image
        run: docker build -t ymphyow/portcicd .
